<!doctype html>
<html>

<head>
  <title>Calendar</title>
</head>

<body>
  <h1>Labbit's Appointments</h1>

  <form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <p>
      {{ form.name.label }}
      {{ form.name() }}
    </p>
    <p>
      {{ form.start_date.label }}
      {{ form.start_date() }}
      {{ form.start_time.label }}
      {{ form.start_time() }}
    </p>
    <p>
      <div>
        {{ form.end_date.label }} {{ form.end_date }}

        {% if form.end_date.errors %}
          <ul class="errors">
            {% for error in form.end_date.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        {{ form.end_time.label }}
        {{ form.end_time() }}
      </div>
    </p>
    <p>
      {{ form.description.label }}
      {{ form.description() }}
    </p>
    <p>
      {{ form.private.label }}
      {{ form.private() }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for item in rows %}
      <tr>
        <th>{{item[1]}}</th>
        <th>{{item[2].strftime("%H:%M")}}</th>
        <th>{{item[3].strftime("%H:%M")}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>
